.project-avatar {
    float: left;
    margin-right: 0.5rem;
}
.project-avatar:hover {
}

.project-logo-container {
    width: 6rem;
    margin: auto;
    /*float: left;*/
}
.project-logo-container > img {
    width: 100%;
    border-radius: 0.5rem;

}

.modal-title {
    width: 100%;
}
.modal-title p {
    margin-bottom: 0;
    /*margin-left: 1rem;*/
    /*float: left;*/
}

