.project-avatar {
    float: left;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 50%) 0px 4px 6px;
}
.project-avatar:hover {
}

.project-logo-container {
    max-width: 6rem;
    margin: auto;
}
.project-logo-container > img {
    width: 100%;
    border-radius: 0.5rem;
}

.modal-dialog-custom .modal-content {
    background: #dbe5f1;
    font-family: "Quicksand";
}
.modal-header-custom {
    border-bottom: 1px solid #008dd7 !important;
}
.modal-title {
    width: 100%;
}
.modal-title p {
    margin-bottom: 0;
}

.modal-content p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.project-about p {
    margin: 0;
}