.project-avatar {
    float: left;
}
.project-avatar:hover {
    cursor: pointer;

}

.project-logo-container {
    display: flex;
    flex-direction: column;
    max-width: 6rem;
    margin: auto;
    background-color: transparent;
    align-items: center;
}
.project-logo-container > img {
    width: 100%;
    border-radius: 0.5rem;
}
.project-logo-container:hover > img {
    box-shadow: rgb(0 0 0 / 50%) 0px 4px 6px;
}
.project-logo-container > p {
    margin-top: 0.3125rem;
    color: #007bff;
}
.project-logo-container:hover > p {
    text-decoration: underline;
}

.modal-dialog-custom .modal-content {
    background: #dbe5f1;
    font-family: "Quicksand";
}
.modal-header-custom {
    border-bottom: 1px solid #008dd7 !important;
}
.modal-title {
    width: 100%;
}
.modal-title p {
    margin-bottom: 0;
}

.modal-content p {
    margin-top: 0;
    margin-bottom: 0;
}

.project-about p {
    margin: 0;
}