.stack-logo-container {
    width: 90%;
    border: solid 0.05em #ccc;
    border-radius: 15%;
    margin: 5%;
    float: left;
}
.stack-logo-container > img {
    width: 100%;
    border-radius: 15%;

}
