.point {
    width: 1.25rem;
    height: 1.25rem;
    background: #a4a4a4;
    border-radius: 50%;
    display: inline-block;
    margin: 0.1rem;
}

.point-half {
    background: linear-gradient(to right,  #f3cf41 50%, #a4a4a4 0%);
}

.point-full {
    background: #f3cf41;
}

.skill-container {
    display: flex;
    flex-direction: row;
}

.skill-name {
    min-width: 10rem;
}

.skill-points-bar {
    flex: 1;
    min-width: 15rem;
}

.skill-description {
    flex: 1;
}

@media (max-width: 600px) {
    .skill-container {
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 600px) {
    .skill-name {
        margin-right: 0.3rem;
    }
    .skill-points-bar {
        padding: 0 !important;;
    }
    .skill-description {
        padding: 0 !important;
    }
}
