hr {
    border: 1px solid #008dd7 !important;
}

.main {
    width: 75vw !important;
    background: #dbe5f1;
    padding-top: 2.5rem;
}

@media (max-width: 600px) {
    .main {
        width: 100vw !important;
    }
    .title {
        text-align: center !important;
        margin: auto !important;
    }
}

.section {
    margin: 0.6rem 0;
    padding: 0.6rem 1rem;
    font-family: "Quicksand";
}

.section-light {
    background: #dbe5f1;
}

.section-dark {
    background: #365f91;
    color: white;
}

.section-content {
    padding: 0 3rem !important;
}

.name {
    color: #365f91;
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
}

.title {
    color: #008dd7;
    font-family: "Courier New";
    font-weight: 900;
    font-size: 1rem;
    text-align: right;
    margin-right: 3.6rem;
}

.section-tag {
    background: #008dd7;
    width: 15.7rem;
    height: 3.2rem;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
}

.section-tag h3 {
    font-family: "Baloo Chettan";
    text-align: center;
    line-height: 3.2rem;
    color: #d8e2f1;
}

.toggle-language-button {
    float: right;
    background-size: cover;
    width: 2rem;
    height: 1.5rem;
    border: solid 0.07rem #CCC;
    border-radius: 0.4rem;
    margin-right: 0.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    font-style: italic;
}
