hr {
    border: 1px solid #008dd7 !important;
}

#root {
    background: linear-gradient(150deg, #0E1824 10%, #C5DEFC 100%);
}
.main {
    width: 75vw !important;
}

@media (max-width: 600px) {
    .main {
        width: 100vw !important;
    }
    .title {
        text-align: center !important;
        margin: auto !important;
    }
}

.section {
    padding: 1.8rem 1rem;
    font-family: "Quicksand";
}

.section-light {
    background: #dbe5f1;
}

.section-dark {
    background: #365f91;
    color: white;
}

.section-content {
    padding: 0 3rem !important;
}

.name {
    color: #365f91;
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
}

.title {
    color: #008dd7;
    font-family: "Courier New";
    font-weight: 900;
    font-size: 1rem;
    text-align: right;
    margin-right: 3.6rem;
}

.section-tag {
    background: #008dd7;
    display: inline-block;
    padding: 0 1.5rem;
    height: 3.2rem;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
    box-shadow: rgb(0 0 0 / 50%) 0px 4px 6px;
}

.section-tag h3 {
    font-family: "Baloo Chettan";
    text-align: center;
    line-height: 3.2rem;
    color: #d8e2f1;
}

.footer {
    display: flex;
    justify-content: center;
    font-style: italic;
}

.skill-group {
    display: flex;
}
.skill-group-name {
    min-width: fit-content;
    width: 6rem;
    font-weight: bold;
}
.skill-tags {
    flex: 1;
    
}
.skill-tags > div {
    margin-right: 0.5rem;
}