.info-field {
    margin-bottom: 0.325rem;
}

.info-field-icon-container {
    padding: 0 !important;
    max-width: 1.3rem !important;
}

.info-field-icon-container > img {
    width: 100%;
    padding-right: 0 !important;
}

.info-field-icon-value {
    line-height: 1.5rem;
    padding: 0 !important;
    margin-left: 0.5rem;
}

.info-field-icon-value a {
    text-decoration: none;
}
