.info-field-icon-container {
    padding: 0 !important;
    max-width: 1.5rem !important;
    float: left;
}

.info-field-icon-container > img {
    width: 100%;
}

.info-field-icon-value {
    float: left;
    line-height: 1.5rem;
}

.info-field-icon-value a {
    color: black;
    text-decoration: none;
}
